.markets {
  margin-top: 10vh;
  @apply px-32 py-4 flex w-full;
  &_main {
    @apply flex w-full flex-col;
    &_banner {
      width: 100%;
    }
    &_header {
      @apply relative gap-10 px-6 py-3 items-center justify-center border-b overflow-x-auto;
      border-color: #494949;
      &::-webkit-scrollbar{
        display: none;
      }
      &_tabs {
        @apply flex space-x-16 text-xl font-semibold;
        color: #494949;
        &_text {
          @apply text-xl font-bold;
        }
      }
    }
  }
}

.active-tab{
color: var(--brand-purple, #D4D5F9);
}