.event {
  background-color: #000000;
  margin-top: 10vh;
  @apply px-10 xl:px-32 py-4 flex w-full flex-col;
  &_header {
    @apply flex gap-4 mt-8 justify-between w-full;
    &_imagecontainer {
      @apply h-32 w-32;
    }
    &_detailscontainer {
      @apply flex flex-col gap-8;
      &_name {
        @apply text-white xl:text-4xl text-2xl max-w-sm xl:max-w-none font-semibold;
      }
      &_other {
        @apply flex flex-row gap-4;
        &_label {
          border: 1px solid var(--border-1, #222);
          background: #1b1b1b;
          align-self: stretch;
          color: #9694fc;
          @apply flex text-xs gap-1 items-center rounded-md px-2 py-2;
        }
        &_detail {
          @apply flex text-sm  gap-1 items-center font-semibold;
          color: #b1b1b1;

          img {
            @apply h-4;
          }
        }
      }
    }
    &_outlinkscontainer {
      @apply flex gap-4 w-fit h-fit ml-4;
      &_outlink {
        @apply p-2 rounded-md cursor-pointer;
        background: #1d1d1d;
        img {
          @apply w-6;
        }
      }
    }
  }
  &_main {
    @apply flex flex-col xl:flex-row w-full mt-16 gap-4;
    &_left {
      @apply flex flex-col gap-4 w-full xl:w-65p;
      &_pricecontainer {
        @apply grid gap-4;
        grid-template-columns: repeat(2, minmax(200px, 2fr)) repeat(
            2,
            minmax(100px, 1fr)
          );

        &_yes {
          @apply flex flex-col p-6 rounded-lg justify-center items-start;
          border: 1.5px solid var(--border, #252525);
          background: #101010;
          &_price {
            @apply text-2xl font-medium;
            color: var(--green, #b6f72b);
          }
          &_text {
            @apply text-base font-normal mt-1;
            color: #a5a5a5;
            span {
              color: var(--green, #b6f72b);
            }
          }
        }
        &_no {
          @apply flex flex-col p-6 rounded-lg justify-center items-start;
          border: 1.5px solid var(--border, #252525);
          background: #101010;
          &_price {
            @apply text-2xl font-medium;
            color: var(--brand-red, #f55571);
          }
          &_text {
            @apply text-base font-normal mt-1;
            color: #a5a5a5;
            span {
              color: var(--brand-red, #f55571);
            }
          }
        }
        &_lp {
          @apply flex flex-col p-6 rounded-lg justify-center items-center;
          border: 1.5px solid var(--border, #252525);
          background: #101010;
          &_price {
            @apply text-2xl font-medium;
            color: var(--text-grey, #dadada);
          }
          &_text {
            @apply text-base font-normal mt-1;
            color: #a5a5a5;
          }
        }
      }
      &_graphcontainer {
        background-color: #1a1d26;
        border: 2px solid var(--border, #252525);
        border-radius: 5px;
      }
      &_ordercontainer {
        @apply flex flex-col w-full rounded-lg p-6 gap-2;
        background: linear-gradient(
          129deg,
          #131313 0%,
          rgba(26, 26, 26, 0) 100%
        );
        border: 2px solid var(--border, #252525);
        &_title {
          @apply text-2xl font-semibold text-white;
        }

        &_table {
          border-radius: 5px;
          max-height: 500px;
          overflow-y: scroll;
          border: 2px solid #252525;
          background: #090909;
          color: #828282;
          @apply relative;
          &_header {
            display: flex;
            padding: 10px;
            font-weight: bold;
            background: #131416;
            border-bottom: 1px solid black;
            @apply w-full sticky top-0;
            // &_column {
            //   flex: 1;
            // }
          }
          &_body {
            &_row {
              @apply flex items-center;
              padding: 10px;
              text-overflow: ellipsis;
              // border-bottom: 0.2px solid #ccc;
              &:last-child {
                border-bottom: none;
              }
            }
            // &_column {
            //   flex: 1;
            // }
          }
          .wallet_column {
            flex-basis: 40%; /* Adjust the width for Wallet Id column */
          }
          .index_column {
            flex-basis: 5%; /* Adjust the width for Index column */
            padding-left: 5px;
          }
          .action_column,
          .outcome_column{
            flex-basis: 25%; /* Adjust the width for Action column */
          }
          .quantity_column {
            flex-basis: 15%; /* Adjust the width for other columns */
          }

        }
      }

      &_aboutcontainer {
        @apply flex flex-col w-full rounded-lg p-6 gap-2;
        background: linear-gradient(
          129deg,
          #131313 0%,
          rgba(26, 26, 26, 0) 100%
        );
        border: 2px solid var(--border, #252525);
        &_title {
          @apply text-2xl font-semibold text-white;
        }
        &_description {
          @apply font-medium mt-2;
          color: var(--text-grey, #dadada);
          &_deployer {
            color: #b6f72b;
          }
        }
        &_expand {
          max-height: 50px;
          overflow: hidden;
          transition: max-height 0.3s ease;
        }
        .expanded {
          max-height: 1000px;
          // transition: max-height 0.8s ease;
        }
        &_showmore {
          @apply font-medium w-fit cursor-pointer mt-3;
          color: #d4d5f9;
          text-transform: uppercase;
        }
      }
    }
    &_right {
      @apply flex-col gap-4 w-full xl:w-35p;
      &_holdingcontainer {
        @apply flex flex-col w-full rounded-lg p-6 gap-2;
        .selected_card {
          border: 1.5px solid var(--border, #252525);
          background: var(--material-90, #1d1d1d);
          box-shadow: 0px 0px 0px 2px rgba(212, 213, 249, 0.24);
        }
        background: linear-gradient(
          129deg,
          #131313 0%,
          rgba(26, 26, 26, 0) 100%
        );
        border: 2px solid var(--border, #252525);
        &_title {
          @apply text-2xl font-semibold text-white;
        }
        &_bar {
          @apply flex w-full gap-2 mt-4;
          &_green {
            @apply w-1/2 h-2;
            border-radius: 32423px;
            background: var(--green, #b6f72b);
          }
          &_red {
            @apply w-1/2 h-2;
            border-radius: 32423px;
            background: var(--brand-red, #f55571);
          }
        }
        &_yesnobuttons {
          @apply flex gap-2 mt-2 w-full;
          color: var(--text-grey, #dadada);
          &_yes {
            @apply flex gap-1.5 w-full justify-center items-center font-semibold px-4 py-3 rounded-lg cursor-pointer;
            border: 1.5px solid #282828;
            background: #080808;
            span {
              color: var(--green, #b6f72b);
            }
          }
          &_no {
            @apply flex gap-1.5 w-full justify-center items-center font-semibold px-4 py-3 rounded-lg cursor-pointer;
            background: #080808;
            border: 1.5px solid #282828;
            span {
              color: var(--brand-red, #f55571);
            }
          }
          .active_no {
            border: 1.5px solid #f55571;
          }
          .active_yes {
            border: 1.5px solid #b6f72b;
          }
        }
        &_formcontainer {
          @apply flex flex-col w-full gap-2 mt-4;
          &_title {
            @apply text-white text-lg font-semibold;
          }
          &_input {
            @apply px-4 py-3 rounded-lg text-white outline-none;
            border: 1px solid #282828;
            background: var(--material-90, #1d1d1d);
            &:focus {
              border: 1px solid #fff;
              box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.25);
            }
          }
          &_value {
            @apply font-medium;
            color: #646464;
            span {
              color: white;
              &:first-child {
                @apply mr-4;
              }
            }
          }
          &_buybutton {
            @apply flex w-full rounded-md justify-center items-center p-2 text-lg font-semibold mt-2 cursor-pointer;
            color: var(--brand-black, #101012);
            background: var(--green, #b6f72b);
          }
          &_sellbutton {
            @apply flex w-full rounded-md justify-center items-center p-2 text-lg font-semibold mt-2 cursor-pointer;
            color: var(--brand-black, #101012);
            background: var(--brand-red, #f55571);
          }
        }
        &_detailscontainer {
          @apply flex flex-col mt-4 -ml-6 -mr-6 -mb-6 p-6 bg-[#1D1D1D];
          &_details {
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            &_details-label {
              @apply font-medium mr-2;
              color: var(--light-text, #646464);
            }

            &_details-value {
              flex-grow: 1;
              text-align: right;
              color: var(--text-grey, #dadada);
            }
          }
        }
      }
      &_liquiditycontainer {
        @apply flex flex-col w-full rounded-lg p-6 gap-2 mt-4;
        background: linear-gradient(
          129deg,
          #131313 0%,
          rgba(26, 26, 26, 0) 100%
        );
        border: 2px solid var(--border, #252525);
        &_title {
          @apply text-2xl font-semibold text-white;
        }
        &_formcontainer {
          @apply flex flex-col w-full gap-2 mt-4;
          &_title {
            @apply text-white text-lg font-semibold;
          }
          &_input {
            @apply px-4 py-3 rounded-lg text-white outline-none;
            border: 1px solid #282828;
            background: var(--material-90, #1d1d1d);
            &:focus {
              border: 1px solid #fff;
              box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.25);
            }
          }
          &_value {
            @apply font-medium;
            color: #646464;
            span {
              color: white;
              &:first-child {
                @apply mr-4;
              }
            }
          }
          &_addbutton {
            @apply flex w-full rounded-md justify-center items-center p-2 text-lg font-semibold mt-2 cursor-pointer;
            color: var(--brand-black, #101012);
            background: var(--brand-purple, #d4d5f9);
          }
        }
      }
    }
  }
}

.ellipse {
  width: 1737px;
  height: 470px;
  border-radius: 1737px;
  opacity: 0.3499999940395355;
  background: #898989;
  filter: blur(100px);
  position: fixed;
  z-index: 10;
  top: -450px;
  left: 0;
}
